.sacola {
    background: url(../img/sacola.png) no-repeat top right;
    font-size: 14px;
    padding-right: 35px;
    text-align: right;
    width: 140px;
}

.menu-opcoes ul {
    font-size: 15px;
}

.menu-opcoes a {
    color: #003366;
    text-decoration: none;
}

body {
    color: #333;
    color: #333333;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}