.sacola {
    background: url(../img/sacola.png) no-repeat top right;
    font-size: 14px;
    padding-top: 8px;
    padding-right: 35px;
    text-align: right;
    width: 140px;
}

.menu-opcoes ul {
    font-size: 1x;
}

.menu-opcoes ul li {
    display: inline;
    margin-left: 20px;
}

.menu-opcoes a {
    color: #003366;
    text-decoration: none;
}

body {
    color: #333;
    color: #333333;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.container {
    margin: 0 auto;
    width: 940px;
}