body {
    color: #333333;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h1 {
    background-image: url(../img/sobre-background.jpg);
}

h2 {
    border-bottom: 2px solid #333333;
}